/* 메뉴 스타일 */
.menu {
    background-color: #ebe1e1;
    overflow: hidden;
  }

  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

